<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-booking-heading" jhiTranslate="urbanZenApp.booking.home.createOrEditLabel">Create or edit a Booking</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="urbanZenApp.booking.reservationDate" for="field_reservationDate">Reservation Date</label>
                    <div class="d-flex">
                        <input id="field_reservationDate" type="datetime-local" class="form-control" name="reservationDate" formControlName="reservationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('reservationDate').invalid && (editForm.get('reservationDate').dirty || editForm.get('reservationDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reservationDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('reservationDate').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="urbanZenApp.booking.cancelDate" for="field_cancelDate">Cancel Date</label>
                    <div class="d-flex">
                        <input id="field_cancelDate" type="datetime-local" class="form-control" name="cancelDate" formControlName="cancelDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="urbanZenApp.booking.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                    <label class="form-control-label" jhiTranslate="urbanZenApp.booking.lesson" for="field_lesson">Lesson</label>
                    <select class="form-control" id="field_lesson" name="lesson" formControlName="lesson">
                        <option *ngIf="!editForm.get('lesson').value" [ngValue]="null" selected></option>
                        <option [ngValue]="lessonOption.id === editForm.get('lesson').value?.id ? editForm.get('lesson').value : lessonOption" *ngFor="let lessonOption of lessons; trackBy: trackLessonById">{{lessonOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('lesson').invalid && (editForm.get('lesson').dirty || editForm.get('lesson').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('lesson').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
