<div>
    <h2 id="page-heading">
        <span jhiTranslate="urbanZenApp.lessonTemplate.home.title">Lesson Templates</span>

        <jhi-ngbd-modal-basic></jhi-ngbd-modal-basic>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lesson-template"
                [routerLink]="['/lesson-template/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="urbanZenApp.lessonTemplate.home.createLabel">
            Create a new Lesson Template
            </span>
        </button>

    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="lessonTemplates?.length === 0">
        <span jhiTranslate="urbanZenApp.lessonTemplate.home.notFound">No lessonTemplates found</span>
    </div>
    <div class="table-responsive" *ngIf="lessonTemplates?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.dayOfWeek">Day Of Week</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.startHour">Start Hour</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.startMinute">Start Minute</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.endHour">End Hour</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.endMinute">End Minute</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.name">Name</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.description">Description</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.street">Street</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.city">City</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.availableSpaces">Available Spaces</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.repeatStartDate">Repeat Start Date</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.repeatUntilDate">Repeat Until Date</span></th>
                <th><span jhiTranslate="urbanZenApp.lessonTemplate.teacher">Teacher</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lessonTemplate of lessonTemplates ;trackBy: trackId" [ngSwitch]="language">
                <td><a [routerLink]="['/lesson-template', lessonTemplate.id, 'view' ]">{{lessonTemplate.id}}</a></td>
                <td jhiTranslate="{{'urbanZenApp.DayOfWeek.' + lessonTemplate.dayOfWeek}}">{{lessonTemplate.dayOfWeek}}</td>
                <td>{{lessonTemplate.startHour}}</td>
                <td>{{lessonTemplate.startMinute}}</td>
                <td>{{lessonTemplate.endHour}}</td>
                <td>{{lessonTemplate.endMinute}}</td>
                <td>
                    <div *ngSwitchCase="'en'">{{lessonTemplate.nameEng}}</div>
                    <div *ngSwitchCase="'ru'">{{lessonTemplate.nameRus}}</div>
                    <div *ngSwitchDefault>{{lessonTemplate.name}}</div>
                </td>
                <td>
                    <div *ngSwitchCase="'en'">{{lessonTemplate.descriptionEng}}</div>
                    <div *ngSwitchCase="'ru'">{{lessonTemplate.descriptionRus}}</div>
                    <div *ngSwitchDefault>{{lessonTemplate.description}}</div>
                </td>
                <td>
                    <div *ngSwitchCase="'en'">{{lessonTemplate.streetEng}}</div>
                    <div *ngSwitchCase="'ru'">{{lessonTemplate.streetRus}}</div>
                    <div *ngSwitchDefault>{{lessonTemplate.street}}</div>
                </td>
                <td>
                    <div *ngSwitchCase="'en'">{{lessonTemplate.cityEng}}</div>
                    <div *ngSwitchCase="'ru'">{{lessonTemplate.cityRus}}</div>
                    <div *ngSwitchDefault>{{lessonTemplate.city}}</div>
                </td>

                <td>{{lessonTemplate.availableSpaces}}</td>
                <td>{{lessonTemplate.repeatStartDate.format('DD.MM.YYYY')}}</td>
                <td>{{lessonTemplate.repeatUntilDate.format('DD.MM.YYYY')}}</td>
                <td>
                    <div *ngIf="lessonTemplate.teacher">
                        <a [routerLink]="['/teacher', lessonTemplate.teacher?.id, 'view' ]">{{lessonTemplate.teacher?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/lesson-template', lessonTemplate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lesson-template', lessonTemplate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lesson-template', { outlets: { popup: lessonTemplate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
