<div>
    <h2 id="page-heading">
        <span jhiTranslate="urbanZenApp.lesson.home.title">Lessons</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-lesson" [routerLink]="['/lesson/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="urbanZenApp.lesson.home.createLabel">
            Create a new Lesson
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="lessons?.length === 0">
        <span jhiTranslate="urbanZenApp.lesson.home.notFound">No lessons found</span>
    </div>
    <div class="table-responsive" *ngIf="lessons?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.startDate">Start Date</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.endDate">End Date</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.name">Name</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.description">Description</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.street">Street</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.city">City</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.availableSpaces"> Max Available Spaces</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.remainAvailableSpaces">Remain Available Spaces</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.teacher">Teacher</span></th>
                <th><span jhiTranslate="urbanZenApp.lesson.lessonTemplate">Lesson Template</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lesson of lessons ;trackBy: trackId">
                <td><a [routerLink]="['/lesson', lesson.id, 'view' ]">{{lesson.id}}</a></td>
                <td>{{lesson.startDate | date:'medium'}}</td>
                <td>{{lesson.endDate | date:'medium'}}</td>
                <td>{{lesson.name}}</td>
                <td>{{lesson.description}}</td>
                <td>{{lesson.street}}</td>
                <td>{{lesson.city}}</td>
                <td>{{lesson.availableSpaces}}</td>
                <td>{{lesson.remainSpaces}}</td>
                <td>
                    <div *ngIf="lesson.teacher">
                        <a [routerLink]="['/teacher', lesson.teacher?.id, 'view' ]">{{lesson.teacher?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lesson.lessonTemplate">
                        <a [routerLink]="['/lesson-template', lesson.lessonTemplate?.id, 'view' ]">{{lesson.lessonTemplate?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/lesson', lesson.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *ngIf = "!accountService.hasAnyAuthority(['ROLE_ADMIN']) && accountService.hasAnyAuthority(['ROLE_USER'])"
                                [routerLink]="['/lesson', lesson.id, 'view' ]"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span  class="d-none d-md-inline"
                                  jhiTranslate="entity.action.book">Book</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/lesson', lesson.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/lesson', { outlets: { popup: lesson.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
