<div>
    <h2 id="page-heading">
        <span jhiTranslate="urbanZenApp.studio.home.title">Studios</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-studio" [routerLink]="['/studio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="urbanZenApp.studio.home.createLabel">
            Create a new Studio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="studios?.length === 0">
        <span jhiTranslate="urbanZenApp.studio.home.notFound">No studios found</span>
    </div>
    <div class="table-responsive" *ngIf="studios?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="urbanZenApp.studio.about">About</span></th>
            <th><span jhiTranslate="urbanZenApp.studio.street">Street</span></th>
            <th><span jhiTranslate="urbanZenApp.studio.postCode">Post Code</span></th>
            <th><span jhiTranslate="urbanZenApp.studio.city">City</span></th>
            <th><span jhiTranslate="urbanZenApp.studio.email">Email</span></th>
            <th><span jhiTranslate="urbanZenApp.studio.phone">Phone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studio of studios ;trackBy: trackId">
                <td><a [routerLink]="['/studio', studio.id, 'view' ]">{{studio.id}}</a></td>
                <td>{{studio.about}}</td>
                <td>{{studio.street}}</td>
                <td>{{studio.postCode}}</td>
                <td>{{studio.city}}</td>
                <td>{{studio.email}}</td>
                <td>{{studio.phone}}</td>
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                        <button type="submit"
                                [routerLink]="['/studio', studio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/studio', studio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/studio', { outlets: { popup: studio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
